# comprehensions

### [f(i) for i in iterable if condition]

In [1]:
x = []

In [8]:
squared = []
for i in range(10):
    x = i**2
    if x%2==0:
#         squared.append(x)
        squared = squared+[x]
squared

[0, 4, 16, 36, 64]

In [7]:
squared[1]

4

In [10]:
squared = [x**2 for x in range(10) if x**2%2==0]
squared

[0, 4, 16, 36, 64]

In [11]:
def times2(x):
    return 2*x
ll = [2*x for x in range(10) if x**2%2==0]
ll

[0, 4, 8, 12, 16]

In [24]:
d = {}

In [25]:
d['ali'] = '0912'

In [26]:
d

{'ali': '0912'}

In [27]:
d['ali']

'0912'

In [28]:
d.keys()

dict_keys(['ali'])

In [29]:
'ali' in d.keys()

True

In [30]:
a = ['ali','hassan','manijeh']

In [31]:
d = {}
for i in a:
    print(i)
    d[i+'_k'] = i+'_v'

ali
hassan
manijeh

In [32]:
d

{'ali_k': 'ali_v', 'hassan_k': 'hassan_v', 'manijeh_k': 'manijeh_v'}

In [34]:
a = ['ali','hassan','manijeh']
d = {i+'_k':i+'_v' for i in a}
d

{'ali_k': 'ali_v', 'hassan_k': 'hassan_v', 'manijeh_k': 'manijeh_v'}

In [35]:
d = {str(i)+'_k':str(i)+'_v' for i in range(4)}
d

{'0_k': '0_v', '1_k': '1_v', '2_k': '2_v', '3_k': '3_v'}

### example: loop on string

In [36]:
x = 'salaam'
for i in x:
    print(i)

s
a
l
a
a
m

In [45]:
x = ['hi','bye',range(3),'a']
for i in x:
    print(i)
    for j in i:
        print(j)

hi
h
i
bye
b
y
e
range(0, 3)
0
1
2
a
a

In [42]:
for i in [1]:
    print(i)

1

### zip

In [54]:
a = [1,2,3,4,5]
b = ['a','b','c','d']

In [55]:
a_num = len(a)
b_num = len(b)
num = min(a_num,b_num)

for i in range(num):
    print(a[i],b[i])

1 a
2 b
3 c
4 d

In [57]:
type(zip(a,b))

zip

In [60]:
for i,j in zip(a,b):
    print(i,j)

1 a
2 b
3 c
4 d

In [61]:
for i,j,k in zip(a,b,a):
    print(i,j,k)

1 a 1
2 b 2
3 c 3
4 d 4

In [62]:
a

[1, 2, 3, 4, 5]

### enumerate

In [65]:
num_b = len(b)

for i in range(num_b):
    print(i,b[i])

0 a
1 b
2 c
3 d

In [76]:
for i,bi in enumerate(b):
    print(i,bi)

0 a
1 b
2 c
3 d

### an example

In [70]:
x = [1,2,3,4]
y = (10,11,12)
z = [101,102,103,104,105]
for i,j,k in zip(x,y,z):
    print(i,j,k)

1 10 101
2 11 102
3 12 103

In [74]:
x = [1,2,3,4]
y = (10,11,12)
z = [101,102,103,104,105]
for i in zip(x,y,z):
    print(i[0],i[1],i[2])

1 10 101
2 11 102
3 12 103

In [77]:
x = [1,2,3,4]
y = (10,11,12)
z = [101,102,103,104,105]
for i in enumerate(zip(x,y,z)):
    print(i)

(0, (1, 10, 101))
(1, (2, 11, 102))
(2, (3, 12, 103))

In [79]:
x = [1,2,3,4]
y = (10,11,12)
z = [101,102,103,104,105]
for q,(i,j,k) in enumerate(zip(x,y,z)):
    print(q,i,j,k)

0 1 10 101
1 2 11 102
2 3 12 103

### How to iterate on dictionaries

In [111]:
d = {'k_'+str(i):'v_'+str(i) for i in range(2)}
d

{'k_0': 'v_0', 'k_1': 'v_1'}

In [98]:
for i in d.keys():
    print(i,d[i])

k_0 v_0
k_1 v_1

In [99]:
d.values()

dict_values(['v_0', 'v_1'])

In [100]:
for i,j in d.items():
    print(i,j)

k_0 v_0
k_1 v_1

In [90]:
d['k_2']

'v_2'

In [109]:
rv = 'v_2'

def get_key_of_value(d,rv):
    for i,j in d.items():
        if j==rv:
            return i

In [114]:
get_key_of_value(d,'v_1')

'k_1'

In [117]:
{v:k for k,v in d.items()}['v_1']

'k_1'

Let's benchmerk the two approaches

In [118]:
d = {'k_'+str(i):'v_'+str(i) for i in range(10000)}

In [120]:
def get_key_of_value1(d,rv):
    for i,j in d.items():
        if j==rv:
            return i

In [125]:
%%time
get_key_of_value1(d,'v_10')

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 10 µs

'k_10'

In [123]:
def get_key_of_value2(d,rv):
    return {v:k for k,v in d.items()}[rv]

In [126]:
%%time
get_key_of_value2(d,'v_10')

CPU times: user 1.03 ms, sys: 0 ns, total: 1.03 ms
Wall time: 1.05 ms

'k_10'