# Functions

In [9]:
def my_capitalizer(sample):
    words = sample.split(' ')
    out = []
    for i in range(len(words)):

        fc = words[i].capitalize()

        s_temp = ''
        isfirst = True
        for j in range(1,len(fc)+1):
            if fc[-j].isalpha() and isfirst:
                s_temp = s_temp+fc[-j].upper()
                isfirst = False
            else:
                s_temp = s_temp+fc[-j]
        out.append(s_temp[::-1])

    return ' '.join(out)

In [10]:
my_capitalizer('salam, how do you do?')

'SalaM, HoW DO YoU DO?'

In [23]:
def f1(x,y):
    return x+y,x*y

In [24]:
o1,o2 = f1(3,4)
print(o1)
print(o2)

7
12

In [21]:
x,y,z = [1,2,3]
print(x)
print(y)
print(z)

1
2
3

In [45]:
def add(x=1,y=1,z=1):
    return (x+y)*z

In [46]:
a = add()

In [47]:
print(a)

2

In [80]:
def add(x=1,y=1,z=1):
    print((x+y)*z)

In [81]:
a = add(x,2,3)

9

In [82]:
print(a)

None

In [83]:
print(type(a))

<class 'NoneType'>

In [ ]:
def add(x=1,y=1,z=1):
    x += 1
    print((x+y)*z)

In [77]:
x = 1
a = add(x,2,3)
print(x)

12
1

In [84]:
def add(x=1,y=1,z=1):
    x += 1
    print((x+y)*z+r)

In [87]:
r = 4
a = add(x,2,3)

16

In [92]:
def generator_function():
    for i in range(10):
        yield i**2

In [93]:
generator_function()

In [94]:
for i in generator_function():
    print(i)

0
1
4
9
16
25
36
49
64
81

In [98]:
def sequence(n):
    num = 1
    while num<n+1:
        yield num
        num += 1

In [99]:
for item in sequence(10):
    print(item)

1
2
3
4
5
6
7
8
9
10

# comprehensions

### [f(i) for i in iterable if condition]

In [105]:
squared = []
for i in range(10):
    x = i**2
    if x%2==0:
        squared.append(x)
squared

[0, 4, 16, 36, 64]

In [106]:
squared = [x**2 for x in range(10) if x**2%2==0]
squared

[0, 4, 16, 36, 64]

In [119]:
a = ['ali','hassan','manijeh']
{'key_'+i:'value_'+i for i in a}

{'key_ali': 'value_ali',
 'key_hassan': 'value_hassan',
 'key_manijeh': 'value_manijeh'}

In [120]:
for i,j in zip(a,b):
    print(i,j)

ali 0921
hassan 0912
manijeh 0935

In [122]:
b = ['0921','0912','0935']

dic = {k:v for k,v in zip(a,b)}
dic

In [124]:
for k,v in dic.items():
    print(k,v)

ali 0921
hassan 0912
manijeh 0935

In [125]:
{v: k for k, v in dic.items()}

{'0921': 'ali', '0912': 'hassan', '0935': 'manijeh'}